body{
  padding: 0px;
  margin: 0px;
}
.main-container {
  background-color: rgb(21, 41, 56);
  padding-left: 21em;
  padding-right: 31rem;
  padding-top: 5rem;
  padding-bottom: 5.35rem;
}
.main1{
  background-color: #ffffff;
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* backdrop-filter: blur(5px); */
}
.memory-logo {
filter: invert(1);
text-align: center;
margin-bottom: 4rem;
}
.container {
  padding: 1.5rem;
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
}
input {
  display: none;
}

input:checked + .box {
  background-color: rgb(21, 41, 56);
}

input:checked + .box span {
  color: rgb(255, 255, 255);
  transform: translateY(70px);
}

.box {
  border-radius: 30px;
  background-color: rgb(188, 206, 217);
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-family: font;
  font-weight: 900;
  &:active {
    transform: translateY(10px);
  }
}

span {
  font-size: 2em;
  color: rgb(255, 255, 255);
}

.numbers {
  width: 19rem;
  height: 50px;
}
.icons {
  width: 19rem;
  height: 50px;
  margin-left: 2rem;
}
.players {
  width: 7rem;
  height: 50px;
  margin-left: 2rem;
}

p {
  color: rgb(113, 145, 165);
  font-weight: 600;
  font-size: 20px;
}
.start{
  font-size: 32px;
  width: 40rem;
  margin-top: 2rem;
  border-radius: 60px;
  background-color: rgb(253, 162, 20);
  font-weight: 600;
  color: #fff;
  border: none;
  padding: 0.8rem;
}
/* css for main 1 */
.top{
  display: flex;
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 5rem;
  padding-bottom: 1rem;
}
.restart{
  background-color: rgb(253, 162, 20);
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 20rem;
  border-radius: 20rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;  font-weight: 600;
margin-right: 1rem;
}
.newgame{
  background-color: rgb(188, 206, 217);
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 20rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 600;
}
.middle{
  margin-left: 30%;
  width: 35%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 3px;
}

/* START:: the down div */
.down{
  display: flex;
  gap: 2rem;
  margin-left: 28%;
  margin-top: 3rem;
  margin-bottom: rem;
}
.startsDiv2{
  display: none;
}
.playersdown{
  background-color: rgb(188, 206, 217);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  width: 16rem;
  border-radius: 10px;
padding: 0.4rem;
}
.playername{
  font-size: 1em;
  color: rgb(113, 145, 165);
}
.scorename{
  font-size: 2em;
  color: rgb(21, 51, 56);
}
.current{
  font-size: 20px;
  color: rgb(21, 41, 56);
  text-align: center;
  margin-left: -10rem;
}

.item{
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
 background-color: rgb(188, 206, 217);
 transform: rotateY(180deg);
  border-radius: 100%;
 transition: 0.25s;
 /* opacity: 0.5; */
}
.sxsitem{
  position: relative;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
 background-color: rgb(188, 206, 217);
 transform: rotateY(180deg);
  border-radius: 100%;
 transition: 0.25s;
 /* opacity: 0.6; */
}

.item.boxOpen{
  transform: rotateY(0deg);
  background-color: rgb(253, 162, 20);
}
.sxsitem.boxOpen{
  transform: rotateY(0deg);
  background-color: rgb(253, 162, 20);
}

.item::after{
  content: '';
  position: absolute;
  inset: 0;
  background: #152938;
  transition: 0.25s;
  /* opacity: 0.45; */
  transform: rotate(180deg);
  backface-visibility: hidden;
  border-radius: 100%;
}
.sxsitem::after{
  content: '';
  position: absolute;
  inset: 0;
  background: #152938;
  transition: 0.25s;
  /* opacity: 0.45; */
  transform: rotate(180deg);
  backface-visibility: hidden;
  border-radius: 100%;
}

.boxOpen:after{
  transform: rotateY(180deg);
} 

.boxMatch:after{
  transform: rotateY(180deg);
} 
.fxfmiddle{
  margin-left: 30%;
  width: 440px;
  height: 440px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}
.sxsmiddle{
  margin-left: 30%;
  width: 540px;
  height: 540px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.timediv{
  background-color: #f2f2f2;
  display: flex;
  gap: 100px;
  padding: 1rem;
  border-radius: 10px;
}
.movesdiv{
  background-color: #f2f2f2;
  display: flex;
  gap: 100px;
  padding: 1rem;
  border-radius: 10px;

}
.timetitle{
  font-size: 20px;
  color: rgb(113, 145, 165);

}
.time{
  font-size: 32px;
  color: rgb(21, 41, 56);
  font-weight: 600;
}
.movestitle{
  font-size: 20px;
  color: rgb(113, 145, 165);

}
.moves{
  font-size: 32px;
  color: rgb(21, 41, 56);
  font-weight: 600;
}

/* Results */
.wincontainer{
  border-radius: 50px;
  text-align: center;
  width: 35%;
  display: none;
  /* margin-top: -37rem; */
  z-index: 999;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  position: absolute;
  margin-left: 25rem;
  padding: 3rem;
}
.didtop{
  font-size: 32px;
  color: rgb(21, 41, 56);
  font-weight: 600;
}
.diddown{
  font-size: 20px;
  color: rgb(113, 145, 165);
  font-weight: 600;
}
.elapse{
  background-color: rgb(183, 213, 216);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 3rem;
}
.elapsetitle{
  color: rgb(113, 145, 165);
  font-size: 20px;
}
.elapsetitletime{
  color: rgb(21, 41, 56);
  font-size: 32px;
}
.movestaken{
  margin-top: 1rem;
  background-color: rgb(183, 213, 216);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-weight: 600;
  border-radius: 10px;}
.taken_title {
  color: rgb(57, 255, 7);
  font-size: 40px;
}
.movestaken_time{
  color: rgb(113, 145, 165);
  font-size: 32px;
}
.winstarts{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
  font-weight: 600;
  border-radius: 10px;}
.winrestart{
  background-color: rgb(253, 162, 20);
  color: rgb(21, 41, 56);
  font-size: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top:1rem;
  padding-bottom: 1rem;
  border-radius: 30px;
width: 50%;
}
.winsetup{
  background-color: rgb(183, 213, 216);
  color: rgb(21, 41, 56);
  font-size: 20px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top:1rem;
  padding-bottom: 1rem;
  width: 50%;
border-radius: 30px;
}
.active-player{
  background-color: rgb(253, 162, 20);
}


/* START::Tablet Styles */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body{
    padding: 0px;
    margin: 0px;
  }
  .main-container {
    background-color: rgb(21, 41, 56);
    padding-left: 2em;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 5.95rem;
  }
  .main1{
    background-color: #ffffff;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* backdrop-filter: blur(5px); */
  }
  .memory-logo {
  filter: invert(1);
  text-align: center;
  margin-bottom: 4rem;
  }
  .container {
    padding: 1rem;
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
  }
  input {
    display: none;
  }
  
  input:checked + .box {
    background-color: rgb(21, 41, 56);
  }
  
  input:checked + .box span {
    color: rgb(255, 255, 255);
    transform: translateY(70px);
  }
  
  .box {
    border-radius: 30px;
    background-color: rgb(188, 206, 217);
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-family: font;
    font-weight: 900;
    &:active {
      transform: translateY(10px);
    }
  }
  
  span {
    font-size: 2em;
    color: rgb(255, 255, 255);
  }
  
  .numbers {
    width: 19rem;
    height: 50px;
  }
  .icons {
    width: 19rem;
    height: 50px;
    margin-left: 2rem;
  }
  .players {
    width: 7rem;
    height: 50px;
    margin-left: 2rem;
  }
  
  p {
    color: rgb(113, 145, 165);
    font-weight: 600;
    font-size: 20px;
  }
  .start{
    font-size: 32px;
    width: 40rem;
    margin-top: 2rem;
    border-radius: 60px;
    background-color: rgb(253, 162, 20);
    font-weight: 600;
    color: #fff;
    border: none;
    padding: 0.8rem;
  }
  /* css for main 1 */
  .top{
    display: flex;
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 1rem;
    padding-top: 4.5rem;
    padding-bottom: 1rem;
  }
  .restart{
    background-color: rgb(253, 162, 20);
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 20rem;
    border-radius: 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;  font-weight: 600;
  margin-right: 1rem;
  }
  .newgame{
    background-color: rgb(188, 206, 217);
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 600;
  }
  .middle{
    margin-left: 30%;
    width: 35%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3px;
  }
  
  /* START:: the down div */
  .down{
    margin-left: 18%;
    margin-top: 2rem;
  }
  .playersdown{
    background-color: rgb(188, 206, 217);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    width: 16rem;
    border-radius: 10px;
  padding: 0.4rem;
  }
  .playername{
    font-size: 1em;
    color: rgb(113, 145, 165);
  }
  .scorename{
    font-size: 2em;
    color: rgb(21, 51, 56);
  }
  .current{
    font-size: 20px;
    color: rgb(21, 41, 56);
    text-align: center;
    margin-left: -10rem;
  }
  
  .item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
   background-color: rgb(188, 206, 217);
   transform: rotateY(180deg);
    border-radius: 100%;
   transition: 0.25s;
   /* opacity: 0.5; */
  }
  .sxsitem{
    position: relative;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
   background-color: rgb(188, 206, 217);
   transform: rotateY(180deg);
    border-radius: 100%;
   transition: 0.25s;
   /* opacity: 0.6; */
  }
  
  .item.boxOpen{
    transform: rotateY(0deg);
    background-color: rgb(253, 162, 20);
  }
  .sxsitem.boxOpen{
    transform: rotateY(0deg);
    background-color: rgb(253, 162, 20);
  }
  
  .item::after{
    content: '';
    position: absolute;
    inset: 0;
    background: #152938;
    transition: 0.25s;
    /* opacity: 0.45; */
    transform: rotate(180deg);
    backface-visibility: hidden;
    border-radius: 100%;
  }
  .sxsitem::after{
    content: '';
    position: absolute;
    inset: 0;
    background: #152938;
    transition: 0.25s;
    /* opacity: 0.45; */
    transform: rotate(180deg);
    backface-visibility: hidden;
    border-radius: 100%;
  }
  
  .boxOpen:after{
    transform: rotateY(180deg);
  } 
  
  .boxMatch:after{
    transform: rotateY(180deg);
  } 
  .fxfmiddle{
    margin-left: 23%;
  }
  .sxsmiddle{
    margin-left: 30%;
    width: 540px;
    height: 540px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
  }
  
  .timediv{
    background-color: #f2f2f2;
    display: flex;
    gap: 100px;
    padding: 1rem;
    border-radius: 10px;
  }
  .movesdiv{
    background-color: #f2f2f2;
    display: flex;
    gap: 100px;
    padding: 1rem;
    border-radius: 10px;
  
  }
  .timetitle{
    font-size: 20px;
    color: rgb(113, 145, 165);
  
  }
  .time{
    font-size: 32px;
    color: rgb(21, 41, 56);
    font-weight: 600;
  }
  .movestitle{
    font-size: 20px;
    color: rgb(113, 145, 165);
  
  }
  .moves{
    font-size: 32px;
    color: rgb(21, 41, 56);
    font-weight: 600;
  }
  
  /* Results */
  .wincontainer{
    width: 55%;
    margin-left: 15rem;
  }
  .didtop{
    font-size: 32px;
    color: rgb(21, 41, 56);
    font-weight: 600;
  }
  .diddown{
    font-size: 20px;
    color: rgb(113, 145, 165);
    font-weight: 600;
  }
  .elapse{
    background-color: rgb(183, 213, 216);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 3rem;
  }
  .elapsetitle{
    color: rgb(113, 145, 165);
    font-size: 20px;
  }
  .elapsetitletime{
    color: rgb(21, 41, 56);
    font-size: 32px;
  }
  .movestaken{
    margin-top: 1rem;
    background-color: rgb(183, 213, 216);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-weight: 600;
    border-radius: 10px;}
  .taken_title {
    color: rgb(57, 255, 7);
    font-size: 40px;
  }
  .movestaken_time{
    color: rgb(113, 145, 165);
    font-size: 32px;
  }
  .winstarts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    font-weight: 600;
    border-radius: 10px;}
  .winrestart{
    background-color: rgb(253, 162, 20);
    color: rgb(21, 41, 56);
    font-size: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top:1rem;
    padding-bottom: 1rem;
    border-radius: 30px;
  width: 50%;
  }
  .winsetup{
    background-color: rgb(183, 213, 216);
    color: rgb(21, 41, 56);
    font-size: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top:1rem;
    padding-bottom: 1rem;
    width: 50%;
  border-radius: 30px;
  }
  .active-player{
    background-color: rgb(253, 162, 20);
  }
}
/* END::Tablet Styles */



/* START:: Between phone and tablet */
@media screen and (min-width: 375px) and (max-width: 768px) {
  .startDivDesktop{
    display: none;
  }

  .startsDiv2{
    display: block;
    background-color: rgb(253, 162, 20);
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;  
    font-weight: 600;
    margin-right: 0rem;
  }
  
  .startsDiv2>li{
    color: rgb(113, 145, 165);
    background-color: rgb(252, 170, 39);
  }

  .main-container {
    padding-left: 1em;
    padding-right: 1rem;
    padding-top: 1rem;
    
    }

  .memory-logo {
  margin-bottom: 1rem;
  }
  .container {
    padding: 9rem;
  }
  input {
    display: none;
  }

  
  .box {
    border-radius: 30px;
    background-color: rgb(188, 206, 217);
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-family: font;
    font-weight: 900;
    &:active {
      transform: translateY(10px);
    }
  }
  
  span {
    font-size: 2em;
    color: rgb(255, 255, 255);
  }
  
  .numbers {
    width: 10em;
  }
  .icons {
    width: 7rem;
    margin-left: 1rem;
  }
  .players {
    width: 7rem;
    margin: 1rem;
  }
  
  .start{
    width: 17rem;
    margin-top: 1rem;
    padding: 0.4rem;
    margin-left: 10px;
  }
  /* css for main 1 */
  .top{
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
  }
  .restart{
    background-color: rgb(253, 162, 20);
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 20rem;
    border-radius: 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;  font-weight: 600;
  margin-right: 1rem;
  }
  .newgame{
    background-color: rgb(188, 206, 217);
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 600;
  }
  .middle{
    margin-left: 30%;
    width: 35%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3px;
  }
  
  /* START:: the down div */
  .down{
    display: flex;
    gap: 1rem;
    margin-left: 0.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .playersdown{
    background-color: rgb(188, 206, 217);
    display: block;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    width: 16rem;
    border-radius: 10px;
    padding: 0.4rem;
  }
  .playername{
    font-size: 0.9em;
    color: rgb(113, 145, 165);
  }
  .scorename{
    font-size: 1.5em;
    color: rgb(21, 51, 56);
  }
  .current{
    font-size: 20px;
    color: rgb(21, 41, 56);
    text-align: center;
    margin-left: -10rem;
  }
  
  .item{
    position: relative;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
   background-color: rgb(188, 206, 217);
   transform: rotateY(180deg);
    border-radius: 100%;
   transition: 0.25s;
  }
  .sxsitem{
    width: 55px;
    height: 55px;
    font-size: 2em;
   background-color: rgb(188, 206, 217);
   transform: rotateY(180deg);
    border-radius: 100%;
   transition: 0.25s;
  }
  
  .item.boxOpen{
    transform: rotateY(0deg);
    background-color: rgb(253, 162, 20);
  }
  .sxsitem.boxOpen{
    transform: rotateY(0deg);
    background-color: rgb(253, 162, 20);
  }
  
  .item::after{
    content: '';
    position: absolute;
    inset: 0;
    background: #152938;
    transition: 0.25s;
    /* opacity: 0.45; */
    transform: rotate(180deg);
    backface-visibility: hidden;
    border-radius: 100%;
  }
  .sxsitem::after{
    content: '';
    position: absolute;
    inset: 0;
    background: #152938;
    transition: 0.25s;
    /* opacity: 0.45; */
    transform: rotate(180deg);
    backface-visibility: hidden;
    border-radius: 100%;
  }
  
  .boxOpen:after{
    transform: rotateY(180deg);
  } 
  
  .boxMatch:after{
    transform: rotateY(180deg);
  } 
  .fxfmiddle{
    margin-left: 16%;
    width: 310px;
    height: 320px;
  }
  .sxsmiddle{
    margin-left: 4%;
    width: 350px;
    height: 360px;
    gap: 3px;
  }
  
  .timediv{
    background-color: #f2f2f2;
    display: flex;
    gap: 1px;
    padding: 1rem;
    border-radius: 10px;
  }
  .movesdiv{
    background-color: #f2f2f2;
    display: flex;
    gap: 1px;
    padding: 1rem;
    border-radius: 10px;
  
  }
  .timetitle{
    font-size: 20px;
    color: rgb(113, 145, 165);
  
  }
  .time{
    font-size: 32px;
    color: rgb(21, 41, 56);
    font-weight: 600;
  }
  .movestitle{
    font-size: 20px;
    color: rgb(113, 145, 165);
  
  }
  .moves{
    font-size: 32px;
    color: rgb(21, 41, 56);
    font-weight: 600;
  }
  
  /* Results */
  .wincontainer{
    width: 85%;
    display: none;
    margin-left: 1rem;
    padding: 1rem;
  }
  .didtop{
    font-size: 32px;
  }
  .diddown{
    font-size: 20px;
  }
  .elapse{
    margin-top: 1rem;
  }
  .elapsetitle{
    color: rgb(113, 145, 165);
    font-size: 20px;
  }
  .elapsetitletime{
    color: rgb(21, 41, 56);
    font-size: 32px;
  }
  .movestaken{
    margin-top: 1rem;
    background-color: rgb(183, 213, 216);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-weight: 600;
    border-radius: 10px;
  }
  .taken_title {
    color: rgb(57, 255, 7);
    font-size: 40px;
  }
  .movestaken_time{
    color: rgb(113, 145, 165);
    font-size: 32px;
  }
  .winstarts{
    display: block;
    margin-top: 2rem;
  }
  .winrestart{
    width: 90%;
    margin-bottom: 1rem;
  }
  .winsetup{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 90%;
  }
  .active-player{
    background-color: rgb(253, 162, 20);
  }
}


/* START:: Mobile phones */
@media screen and (max-width: 768px){

  .startDivDesktop{
    display: none;
  }

  .startsDiv2{
    display: block;
    background-color: rgb(253, 162, 20);
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;  
    font-weight: 600;
    margin-right: 0rem;
  }
  
  .startsDiv2>li{
    color: rgb(113, 145, 165);
    background-color: rgb(252, 170, 39);
  }

  .main-container {
    padding-left: 1em;
    padding-right: 1rem;
    padding-top: 1rem;
  }

  .memory-logo {
  margin-bottom: 1rem;
  }
  .container {
    padding: 0.3rem;
  }
  input {
    display: none;
  }

  
  .box {
    border-radius: 30px;
    background-color: rgb(188, 206, 217);
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-family: font;
    font-weight: 900;
    &:active {
      transform: translateY(10px);
    }
  }
  
  span {
    font-size: 2em;
    color: rgb(255, 255, 255);
  }
  
  .numbers {
    width: 10em;
  }
  .icons {
    width: 7rem;
    margin-left: 1rem;
  }
  .players {
    width: 7rem;
    margin: 1rem;
  }
  
  .start{
    width: 17rem;
    margin-top: 1rem;
    padding: 0.4rem;
    margin-left: 10px;
  }
  /* css for main 1 */
  .top{
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
  }
  .restart{
    background-color: rgb(253, 162, 20);
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 20rem;
    border-radius: 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;  font-weight: 600;
  margin-right: 1rem;
  }
  .newgame{
    background-color: rgb(188, 206, 217);
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 600;
  }
  .middle{
    margin-left: 30%;
    width: 35%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3px;
  }
  
  /* START:: the down div */
  .down{
    display: flex;
    gap: 1rem;
    margin-left: 0.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .playersdown{
    background-color: rgb(188, 206, 217);
    display: block;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    width: 16rem;
    border-radius: 10px;
    padding: 0.4rem;
  }
  .playername{
    font-size: 0.9em;
    color: rgb(113, 145, 165);
  }
  .scorename{
    font-size: 1.5em;
    color: rgb(21, 51, 56);
  }
  .current{
    font-size: 20px;
    color: rgb(21, 41, 56);
    text-align: center;
    margin-left: -10rem;
  }
  
  .item{
    position: relative;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
   background-color: rgb(188, 206, 217);
   transform: rotateY(180deg);
    border-radius: 100%;
   transition: 0.25s;
  }
  .sxsitem{
    width: 55px;
    height: 55px;
    font-size: 2em;
   background-color: rgb(188, 206, 217);
   transform: rotateY(180deg);
    border-radius: 100%;
   transition: 0.25s;
  }
  
  .item.boxOpen{
    transform: rotateY(0deg);
    background-color: rgb(253, 162, 20);
  }
  .sxsitem.boxOpen{
    transform: rotateY(0deg);
    background-color: rgb(253, 162, 20);
  }
  
  .item::after{
    content: '';
    position: absolute;
    inset: 0;
    background: #152938;
    transition: 0.25s;
    /* opacity: 0.45; */
    transform: rotate(180deg);
    backface-visibility: hidden;
    border-radius: 100%;
  }
  .sxsitem::after{
    content: '';
    position: absolute;
    inset: 0;
    background: #152938;
    transition: 0.25s;
    /* opacity: 0.45; */
    transform: rotate(180deg);
    backface-visibility: hidden;
    border-radius: 100%;
  }
  
  .boxOpen:after{
    transform: rotateY(180deg);
  } 
  
  .boxMatch:after{
    transform: rotateY(180deg);
  } 
  .fxfmiddle{
    margin-left: 9%;
    width: 310px;
    height: 320px;
  }
  .sxsmiddle{
    margin-left: 4%;
    width: 350px;
    height: 360px;
    gap: 3px;
  }
  
  .timediv{
    background-color: #f2f2f2;
    display: flex;
    gap: 1px;
    padding: 1rem;
    border-radius: 10px;
  }
  .movesdiv{
    background-color: #f2f2f2;
    display: flex;
    gap: 1px;
    padding: 1rem;
    border-radius: 10px;
  
  }
  .timetitle{
    font-size: 20px;
    color: rgb(113, 145, 165);
  
  }
  .time{
    font-size: 32px;
    color: rgb(21, 41, 56);
    font-weight: 600;
  }
  .movestitle{
    font-size: 20px;
    color: rgb(113, 145, 165);
  
  }
  .moves{
    font-size: 32px;
    color: rgb(21, 41, 56);
    font-weight: 600;
  }
  
  /* Results */
  .wincontainer{
    width: 85%;
    display: none;
    margin-left: 1rem;
    padding: 1rem;
  }
  .didtop{
    font-size: 32px;
  }
  .diddown{
    font-size: 20px;
  }
  .elapse{
    margin-top: 1rem;
  }
  .elapsetitle{
    color: rgb(113, 145, 165);
    font-size: 20px;
  }
  .elapsetitletime{
    color: rgb(21, 41, 56);
    font-size: 32px;
  }
  .movestaken{
    margin-top: 1rem;
    background-color: rgb(183, 213, 216);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-weight: 600;
    border-radius: 10px;
  }
  .taken_title {
    color: rgb(57, 255, 7);
    font-size: 40px;
  }
  .movestaken_time{
    color: rgb(113, 145, 165);
    font-size: 32px;
  }
  .winstarts{
    display: block;
    margin-top: 2rem;
  }
  .winrestart{
    width: 90%;
    margin-bottom: 1rem;
  }
  .winsetup{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 90%;
  }
  .active-player{
    background-color: rgb(253, 162, 20);
  }
}
/* END:: Mobile phones */

